body {
    background: $bg-cl;
}
html {
    scroll-behavior: smooth;
}

    .first {
        background: url(../img/glavniy-bg.png);
        @extend %bg;
        padding-top: 30px;

        .header {

            // header   
            width: 100%;
            cursor: pointer;
            position: fixed;
            top: 10px;
            z-index: 997;
            
            .container {

                // Container
                @extend %cont;
    
            .header_in {
                // header_in
                @include flex (flex, space-between, center);
                
                .menu_1 {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    background-color: rgba(0, 0, 0, 0.35);
                    flex-direction: column;
                    padding: 80px 50px;
                    transition: 600ms;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backdrop-filter: blur(5px);
                    a {
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        font-size: 20px;
                        margin: 10px 0;
                        transition: 300ms;
                    
                        &:hover {
                            color: rgb(85, 0, 255);
                        }
                    }
                }
                .span {
                    animation: spans2 1s;
                    span {
                    width: 20px;
                    height: 3px;
                    border-radius: 3px;
                    background: white;
                    display: none;
                    margin: 3px;
                    z-index: 999;
                    position: relative;
                    cursor: pointer;
                    
                    
                }
                }
                
                .span2 {
                    margin-top: 12px;
                    animation: spans 1s;
                    .line_1 {
                        width: 20px;
                    height: 3px;
                    border-radius: 3px;
                    background: white;
                    display: none;
                    margin: -3px;
                    z-index: 999;
                    position: relative;
                    cursor: pointer;
                        transform: rotate(46deg);
                    }
                    .line_2 {
                        width: 20px;
                    height: 3px;
                    border-radius: 3px;
                    background: white;
                    display: none;
                    margin: -3px;
                    z-index: 999;
                    position: relative;
                    cursor: pointer;
                        transform: rotate(135deg);
                    }

                 
                }
                @keyframes spans {
                    0% {
                        opacity: .1;
                        transform: rotate(0deg);
                
                    }
                    100% {
                        opacity: 1;
                        transform: rotate(180deg);
                    }
                }
                @keyframes spans2 {
                    0% {
                        opacity: .1;
                        
                        
                    }
                    100% {
                        opacity: 1;
                        
                    }
                }
                .span_none {
                    display: none;
                    
                }
                .active {
                    left: 0;
                }
                .navbar {
                        a {
                            list-style: none;
                            margin-left: 32px;
                            @include text ($Open-f, 400, 16px, 28px, 4%);
                            opacity: 0.80;
                            transition: 300ms ease;
    
                            &:hover {
                                @extend %hover
                            }
                            &:active {
                                color: rgb(27, 104, 92);
                            }
                            
                        }
                    
                }
    
    
                .comment {
                    // comment
                    @include flex (flex, space-between, center);
                    @include text ($Open-f, 600, 16px, 28px, 5%);
                    opacity: 0.80;
    
                    .comment_one {
                        // comment_one
                        transition: 300ms ease;
                        
                        &:hover {
                        @extend %hover
                        }
                        &:active {
                            color: rgb(27, 104, 92);
                        }
                    }
    
    
                    .comment_three {
                        // comment_three
                        transition: 300ms ease;
                        &:hover {
                        @extend %hover
                        }
                        &:active {
                            color: rgb(27, 104, 92);
                        }
                    }
    
    
                    .comment_two {
                        padding: 0 50px;
                    }
    
                }
                
            }
        }
    }
    }

// 2

    .first {
        padding-bottom: 30px;
        
        .container {
    
            @extend %cont;
            
            .first_in {
                text-align: center;
                width: 634px;
                height: 840px;
                margin: 20px auto;
                overflow: hidden;
                
                .kartina {
                    display: none;
                    
                }
                .slider {
                    margin-top: 40px;
                    width: 2536px;
                    height: 840px;
                    display: flex;
                    position: relative;
                    left: 0;
                    transition: all ease 1s;
                    img {
                        width: 634px;
                        height: 840px
                    }
                    
                }
                h1 {
                    @include text ($Corm-f, 700, 181px, 235.3px, 7px);
                    position: absolute;
                    top: 400px;
                    left: 250px;
                    
                }
            }
            .btn_slider {
                @extend %btn-s;
            }
        }
    }