@media (max-width:1300px) {
    .container {
        padding: 0 20px;
    }
    .first .container .first_in h1 {
        font-size: 170px;
        left: 115px;
    }
    .modalka .container .modalka_box {
        right: 197px;
    }
    .modalka .container .exe span {
        right: 87px;
    }
    .first .container .btn_slider {
        margin-left: 348px;   
    }
    .first .header .container .header_in .comment .comment_two {
        padding: 0px 35px;
    }
}
@media (max-width:1200px) {
    .first .header .container .header_in .comment {
        font-size: 14px;
    }
    .first .header .container .header_in .comment .comment_three:hover, .first .header .container .header_in .comment .comment_one:hover, .first .header .container .header_in .navbar a:hover {
        font-size: 15px;
        opacity: 1;
        text-shadow: 0px 0px 30px rgb(42, 223, 217);
        color: rgb(26, 189, 165);
      }
    .first .header .container .header_in .navbar a {
        font-size: 14px;
        margin-left: 25px;
    }
    .first .header .container .header_in .navbar a:hover {
        font-size: 15px;
    }
    .first .header .container .header_in .comment .comment_two {
        padding: 0px 20px;
    }
    .first .container .first_in h1 {
        font-size: 140px;
        left: 135px;
    }
    .first .container .btn_slider {
        margin-left: 281px;
    }
    .second .container .book .book_txt .input input, .second .container .book .book_txt .input select {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
    }
    .second .container .book .book_txt .input {
        margin: -10px 0;
    }
    .footer .container .footer_box .footer_box_txt .txt h3, .seven .container .find .find_txt .txt_one h3, .six .container .special .special_title h3, .four .container .poison .poison_txt h3, .second .container .book .book_txt .text h3, .modalka .container .modalka_box .modalka_box_txt .txt h3 {
        font-family: "Cormorant Upright", serif;
        font-weight: 600;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 2.5px;
        margin-bottom: 20px;
        color: #DCCA87;
    }
    .second .container .book .book_txt button {
        height: 44px;
        width: 133px;
        border-radius: 5px;
        margin-top: 15px;
    }
    .modalka .container .modalka_box {
        right: 94px;
    }
    
    .modalka .container .exe span {
        right: 40px;
    }
    .second .container .book .book_txt .input input, .second .container .book .book_txt .input select {
        height: 50px;
        width: 276px;
        display: block;
    }
    .third .container .food .food_txt .food_txt_item h3 {
        font-size: 57px;
        line-height: 65.2px;
    }
    .third .container .food .food_txt .food_txt_item p {
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 1px;
        margin-bottom: 68px
    }
    .third .container .food .food_img {
        height: 580px;
    }
    .seven .container .find .find_img {
        height: 570px;
    }       

}
@media(max-width:992px) {
    .first .container .first_in h1 {
        font-size: 110px;
        left: 92px;
    }
    .first .container .btn_slider {
        margin-left: 202px;
    }
    .footer .container .footer_box, .second .container .book {
        max-width: 90%;
        height: 440px;
        margin: 50px auto;
    }
    .modalka .container .modalka_box {
        right: 38px;
        max-width: 90%;
    }
    .footer .container .footer_box .footer_box_txt .txt h3, .seven .container .find .find_txt .txt_one h3, .six .container .special .special_title h3, .four .container .poison .poison_txt h3, .second .container .book .book_txt .text h3, .modalka .container .modalka_box .modalka_box_txt .txt h3 {
        font-size: 48px;
        line-height: 50px;
    }
    .footer .container .footer_box .footer_box_txt input, .modalka .container .modalka_box .modalka_box_txt input {
        margin-bottom: 20px;
    }
    .footer .container .footer_box .footer_box_txt .txt h4, .seven .container .find .find_txt .txt_one h4, .six .container .special .special_title h4, .four .container .poison .poison_txt h4, .second .container .book .book_txt .text h4, .modalka .container .modalka_box .modalka_box_txt .txt h4 {
        margin-top: 30px;
    }
    .third .container .food .food_txt .food_txt_item h3 {
        font-size: 49px;
        line-height: 47.2px;
    }
    .third .container .food .food_txt .food_txt_item p {
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        margin-bottom: 0px;
    }
    .five .container .happy h2 {
        font-size: 100px;
        line-height: 150px;
        padding-bottom: 10px;
    }
    .five .container .happy em {
        font-size: 28px;
        line-height: 35.6px;
    }
    .five {
        background: url(../img/img_bg3.png);
        height: 700px;
    }
    .five .container .happy {
        height: 700px;
    }
    .six .container .special .special_block .block .block_box .block_items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .six .container .special .special_block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .seven, .six, .four {
        padding: 50px 0;
    }
    .six .container .special .special_block .block h2 {
        font-size: 45px;
        line-height: 53px;
        margin-bottom: 60px;
    }
    .seven .container .find {
        display: block;
        text-align: center;
    }
    .seven .container .find .find_img img {
        height: 430px;
    }  
    .seven .container .find .find_txt {
        margin-bottom: 50px;
    }  
    .six .container .special .special_block .block img {
        display: none;
    }
    .seven .container .find .find_img {
        height: 467px;
    }
    .footer .container .footer_box .footer_box_txt input {
        height: 56px;
        width: 585px;
    }
    .first .header .container .header_in .navbar, .logo  {
        display: none;
    }
    .first .header .container .header_in .comment {
        display: none;
    }
    .first .header .container .header_in .span span {
        display: flex;
    }
    .first .header .container .header_in .span2 .line_1 {
        display: flex;
    }
    .first .header .container .header_in .span2 .line_2 {
        display: flex;
    }
    .first .header .container .header_in {
        padding-top: 30px;
        padding-left: 13px;
    }
}
@media(max-width:768px) {
    
    .first .container .first_in .slider {
       display: none;
    }
    .first .container .btn_slider {
        display: none;
    } 
    
    .footer .container .footer_box .footer_box_txt input {
        height: 45px;
        width: 365px;
    }
    .first .container .first_in {
        text-align: center;
        width: 452px;
        height: 690px;
        margin: 20px auto;
        overflow: hidden;
    }
    .first .container .first_in h1 {
        font-size: 70px;
        left: 72px;
        top: 295px;
    }

    .footer .container .footer_box .footer_box_txt input {
        height: 53px;
        width: 335px;
        padding: 10px;
        margin-top: 23px;
    }
    .modalka .container .modalka_box {
        top: 60px;
        right: 35px;
    }
    .modalka .container .modalka_box .modalka_box_txt input {
        max-width: 90%;
        margin-top: 20px;
    }
    .third .container .food .food_img {
        display: none;
    }
    .third .container .food {
        grid-template-columns: 1fr;
    }
    .four .container .poison .poison_img {
        display: flex;
        justify-content: center;
        align-items: align-items;
        gap: 34px;
        flex-wrap: wrap;
    }
    .four .container .poison .poison_img .poison_item img {
        height: 450px;
    }
    .five .container .happy {
        height: 550px;
    }
    .five {
        height: 550px;
    }
    .five .container .happy h2 {
        font-size: 75px;
        line-height: 125px;
        padding-bottom: 10px;
    }
    .five .container .happy em {
        font-size: 23px;
        line-height: 31.6px;
    }
    .footer {
        background: url(../img/glavniy-bg.png);
        padding-bottom: 0px;
    }
    .footer .container .last_gr {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .third .container .food .food_txt .food_txt_item {
        text-align: center;
    }
    .first .container .first_in .kartina {
        display: block;
        height: 550px;
        margin: 80px auto;
        
    }
}
@media(max-width:576px) {
    .second .container .book .book_txt .input input, .second .container .book .book_txt .input select {
        height: 43px;
        width: 240px;
        display: block;
    }
    .footer .container .footer_box .footer_box_txt .txt h3, .seven .container .find .find_txt .txt_one h3, .six .container .special .special_title h3, .four .container .poison .poison_txt h3, .second .container .book .book_txt .text h3, .modalka .container .modalka_box .modalka_box_txt .txt h3 {
        font-size: 38px;
        line-height: 45px;
    }
    .footer .container .footer_box .footer_box_txt input, .modalka .container .modalka_box .modalka_box_txt input {
        height: 53px;
        width: 270px;
        padding: 10px;
        margin-top: 23px;
    }
    .modalka .container .modalka_box {
        right: 21px;
    }
    .third .container .food .food_txt .food_txt_item h3 {
        font-size: 43px;
        line-height: 41.2px;
    }
    .third .container .food .food_txt .food_txt_item p {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1px;
        margin-bottom: -31px;
    }    
    .four .container .poison .poison_img .poison_item img {
        height: 420px;
    }
    .five .container .happy h2 {
        font-size: 49px;
        line-height: 93px;
        padding-bottom: 10px;
    }
    .five .container .happy em {
        font-size: 16px;
        line-height: 22.6px;
    }
    .five {
        height: 400px;
    }
    .five .container .happy {
        height: 400px;
    }
    .six .container .special .special_block .block h2 {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 60px;
    }
    .seven .container .find .find_img img {
        height: 430px;
        display: none;
    }
    .seven .container .find .find_img {
        display: none;
    }
    .footer .container .footer_box .footer_box_txt .txt h3 {
        font-size: 29px;
        line-height: 38px;
    }
    .footer .container .footer_box .footer_box_txt .txt a {
        font-size: 14px;
        line-height: 21px;
    }
    .footer .container .footer_box .footer_box_txt input {
        height: 47px;
        width: 235px;
        padding: 10px;
        margin-top: 23px;
    }
    .modalka .container .modalka_box {
        max-width: 90%;
        height: 410px;
        
    }
    .first .container .first_in .kartina {
            display: block;
            width: 284px;
            height: 420px;
            margin-left: 19px;
    }
    .first .container .first_in {
        text-align: center;
        width: 300px;
        height: 557px;
        margin: 20px auto;
        overflow: hidden;
    }
    .first .container .first_in h1 {
        font-size: 45px;
        left: 133px;
        top: 223px;
    }
}
@media(max-width:480px) {
    .first .container .first_in h1 {
        font-size: 45px;
        left: 40px;
        top: 223px;
    }
}
@media(max-width:360px) {
    .second .container .book .book_txt .input input, .second .container .book .book_txt .input select {
        height: 39px;
        width: 176px;
        display: block;
    }
    .footer .container .footer_box .footer_box_txt .txt h3, .seven .container .find .find_txt .txt_one h3, .six .container .special .special_title h3, .four .container .poison .poison_txt h3, .second .container .book .book_txt .text h3, .modalka .container .modalka_box .modalka_box_txt .txt h3 {
        font-size: 28px;
        line-height: 45px;
    }
    .footer .container .footer_box, .second .container .book {
        max-width: 90%;
        height: 395px;
        margin: 50px auto;
    }
    .modalka .container .modalka_box {
        max-width: 90%;
        height: 395px;
        right: 16px;
    }
     .modalka .container .modalka_box .modalka_box_txt input {
        height: 47px;
        width: 210px;
        padding: 10px;
        margin-top: 10px;
    }
    .modalka .container .modalka_box .modalka_box_txt .txt h3 {
        font-size: 23px;
        line-height: 34px;
    }
    .modalka .container .modalka_box .modalka_box_txt .txt a {
        font-size: 13px;
        line-height: 33px;

    }
    .third .container .food .food_txt .food_txt_item h3 {
        font-size: 36px;
        line-height: 37.2px;
    }
    .third .container .food .food_txt .food_txt_item p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-bottom: -44px;
    }
    .five .container .happy h2 {
        font-size: 38px;
        line-height: 66px;
        padding-bottom: 10px;
    }
    .five .container .happy em {
        font-size: 12px;
        line-height: 22.6px;
    }
    .seven .container .find .find_txt .txt_two p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.6px;
        color: #AAAAAA;
        padding-bottom: 20px;
    }
    .footer .container .footer_box .footer_box_txt .txt h3 {
        font-size: 21px;
        line-height: 35px;
    }
    .footer .container .footer_box .footer_box_txt .txt a {
        font-size: 10px;
        line-height: 11px;
    }
    .footer .container .footer_box .footer_box_txt input {
        height: 44px;
        width: 175px;
        padding: 10px;
        margin-top: 23px;
    }
    .first .container .first_in {
        text-align: center;
        width: 235px;
        height: 557px;
        margin: 20px auto;
        overflow: hidden;
    }
    .first .container .first_in h1 {
        font-size: 35px;
        left: 50px;
        top: 223px;
    }
    
}
@media(max-width:320px) {
    .first .container .first_in h1 {
        font-size: 35px;
        left: 10px;
        top: 223px;
    }
}

/* ==== */
